@font-face {
    font-family: "Annie Use Your Telescope";
    src: url(annieuseyourtelescope-regular.ttf)
}

@font-face {
    font-family: "Didact Gothic";
    src: url(didactgothic-regular.ttf)
}

@font-face {
    font-family: "Clicker Script";
    src: url(clickerscript-regular.ttf);
}

@font-face {
    font-family: "Euphoria Script";
    src: url(euphoriascript-regular.ttf)
}

@font-face {
    font-family: "Over the Rainbow";
    src: url(overtherainbow-regular.ttf);
}


